
@{
    ViewBag.Title = "Welcome";
}

<div>
    <h2>A new Bro has joined! Welcome @(ViewBag.FirstName) from @(ViewBag.State)!</h2>
</div>
<div>
    <img id="high-five" class="img fluid d-none d-sm-block" src="~/Images/high5.png" alt="High 5" />
</div>
<br />
<a type="button" href="/Home/Index" class="btn btn-primary btn-lg">Home</a>