@model CandleShop.Models.User

@{
    ViewBag.Title = "Welcome";
}


@if (ViewBag.DuplicateEmail == true)
{
    <h2 class="bro-text">A Bro with that email address has already registered!</h2>
}
else
{
    <div>
        <h2 class="bro-text">A new Bro has joined! Welcome @Model.FirstName from @Model.State!</h2>
    </div>
    <div>
        <img id="high-five" class="img fluid d-none d-sm-block" src="~/Images/high5.png" alt="High 5" />
    </div>
}
<br />
<a type="button" href="/Home/Index" class="btn btn-primary btn-lg">Home</a>