
@{
    ViewBag.Title = "AddProduct";
}

<h2 class="text-center mb-5">@ViewBag.Candle has been added to your cart!</h2>

<div class="cart-buttons">
    <div class="text-center pt-2 mr-5"><a href="/Account/ViewProducts" id="view-cart" class="btn btn-primary btn-lg border border-dark">Add More to Cart &raquo;</a></div>
    <div class="text-center pt-2"><a href="/Account/ViewCart" id="view-cart" class="btn btn-primary btn-lg border border-dark">View Cart &raquo;</a></div>
</div>