

<h2 class="bro-text">What is the email associated with your account?</h2>
<br />
<form action="/Account/ChangePass" method="post">

    <input type="email" class="form-control" placeholder="Enter Email" name="email"/>

</form>
