body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:darkgoldenrod !important;
    min-height: 800px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-group.required .control-label:after {
	content: "*";
	color: red;
}

#register {
    font-size: 2.25rem !important;
    border-radius: 1.0rem !important;
}

#register-form {
    font-size: 1.5rem !important;
    background-image: url("/Images/candlebackground.jpg") !important;
    height: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#fist-bump {
    width: 350px !important; 
    height: auto !important;
}

#fist-raise {
    width: 435px !important;
    height: auto !important;
}

#high-five {
    width: 215px !important;
    height: auto !important;
}


#candles {
    width: 350px !important;
    height: auto !important;
    border-radius: 100% !important;
}

.register-form-text {
    font-size: 1.5rem !important;
}
