@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <img id="fist-bump" class="img fluid d-none d-xl-block" src="~/Images/fistbump.png" alt="fistbump" />
        </div>
        <div class="col-md-6 pt-5">
            <h1 class="display-3 text-center bro-text"><strong>CAN YOU HANDLE THE CANDLE!?</strong></h1>
            <h3 class="display-4 text-center homepage-text"><strong>The candle shop for bros!</strong></h3>
            <br />
            <br />
            <div id="home-buttons">
                <div class="text-center pt-2"><a href="/Account/Register" id="register" class="btn btn-primary btn-lg border border-dark">Register &raquo;</a></div>
                <div class="text-center pt-2"><a href="/Database/Index" id="users-products" class="btn btn-primary btn-lg border border-dark">See List of Bros/Candles &raquo;</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <img id="candles" class="img fluid d-none d-xl-block" src="~/Images/scentedcandles.jpg" alt="Candles" />
        </div>
    </div>
</div>

@if (Request.IsAuthenticated)
{
<div class="cart-buttons">

    <div class="text-center pt-1 mr-5"><a href="/Account/ViewProducts" id="add-cart" class="btn btn-primary btn-lg border border-dark">Add Candles to your Cart &raquo;</a></div>
    <div class="text-center pt-1"><a href="/Account/ViewCart" id="view-cart" class="btn btn-primary btn-lg border border-dark">View Cart &raquo;</a></div>

</div>
    
}
