@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <img id="fist-bump" class="img fluid d-none d-md-block" src="~/Images/fistbump.png" alt="fistbump" />
        </div>
        <div class="col-md pt-5">
            <h1 class="display-3 text-center"><strong>CAN YOU HANDLE THE CANDLE!?</strong></h1>
            <h3 class="display-4 text-center"><strong>The candle shop for bros!</strong></h3>
            <br />
            <div class="text-center pt-2"><a href="/Register/Index" id="register" class="btn btn-primary btn-lg">Register &raquo;</a></div>
        </div>
        <div class="col-md">
            <img id="candles" class="img fluid d-none d-xl-block" src="~/Images/scentedcandles.jpg" alt="Candles" />
        </div>
    </div>
</div>

