
@{
    ViewBag.Title = "Index";
}



<div id="list-buttons">
    <div class="text-center pt-2"><a href="/Database/Users" id="register" class="btn btn-primary btn-lg border border-dark">See List of Bros &raquo;</a></div>
    <div class="text-center pt-2"><a href="/Database/Products" id="users-products" class="btn btn-primary btn-lg border border-dark">See List of Candles &raquo;</a></div>
</div>

